
i {
    cursor: pointer;
    font-size: 2rem;
    color: #52416d;
}

// Your variable overrides
$body-bg: #b0a8ba;


@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "../css/ball8.css"

